<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>iHelper.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FA7E18FB1C75EED900DF16BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA7E19141C75EED900DF16BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA7E191F1C75EED900DF16BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
